* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  font-family: 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
}

/* 整个滚动条 */
::-webkit-scrollbar {
  width: 8px;
  /* 竖向滚动条宽度 */
  height: 8px;
  /* 横向滚动条高度 */
}

/* 滚动条轨道背景 */
::-webkit-scrollbar-track {
  background: #e5ebf7;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* hover 状态 */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}